#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
body{
    background-color: black;
    padding:10px;
}
#greeting-container {
  margin-top: 20px;
}
.container{
    border-radius: 25px;
    background-color: lightblue;
    margin-bottom: 5px;
}
.links{
    margin: 10px;
}
.sections{
    border-radius: 25px;
    background-color: white;

}
.Aboutme{
    border-radius: 25px;
    background-color: paleturquoise;
    padding:10px;
    margin-bottom: 5px;
}
.projects{
    border-radius: 25px;
    background-color: plum;
    padding:10px;
    width:600px;
}